numpy>=1.23.5
scipy>=1.9.3
opencv-python>=4.8.0
matplotlib>=3.7.2
tqdm>=4.66.1
Pillow>=9.5.0
munkres>=1.1.4
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
pyyaml>=6.0
cython>=0.29.32
pycocotools>=2.0.7